.App {
  text-align: center;
  background-color: rgba(8, 8, 8, 0.76); 
  margin: 3% 30% 10% 30%;
  padding: 5%;
}

.App {
  text-align: center;
  background-color: rgba(8, 8, 8, 0.76); 
  margin: 3% 30% 10% 30%;
  padding: 5%;
}